@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 80px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 17px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block; /* a는 block, 해를끼치면 inline-block*/
    line-height: 80px;
    font-size: 19px;
    color: #222;
    padding: 0 25px 0 25px;
}
header .gnb ul li a:hover {
    font-weight: 800;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center /cover;
    height: 800px;
    color: #fff;
}
.visual h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    padding: 308px 0 17px 0;
    letter-spacing: -0.02em;
}

.biz {
    margin: 162px 0 0 0;
}
.biz .art, .sch {
    margin: 75px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
}
.biz .txt {
    width: 511px;
    margin: 47px 0 0 0;
}
.biz .txt strong {
    color: #C11920;
    display: block;
}
.biz .txt h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: #222;
    margin: 13px 0 12px 0;
}
.biz .txt h2 em {
    color: #C11920;
}
.biz .txt .sub_tit {
    font-size: 19px;
    color: #222;
    margin: 0 0 20px 0;
}
.biz .txt .btn_wrap {
    margin: 31px 0 0 0;
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 10px 10px; /*a와 a사이의 여백 */
}
.biz .txt .btn_wrap a {
    display: block;
    border: 1px solid #C11920;
    color: #C11920;
    padding: 8px 31px 7px 33px;
    border-radius: 50px;
    /* transition: 0.5s; 서서히 바뀜 */
}
.biz .txt .btn_wrap a:hover {
    background-color: #C11920;
    color: #fff;
}
.biz .photo {
    overflow: hidden;
    width: 618px;
    height: 546px;
    border-radius: 30px;
}
.biz .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commuity {
    margin: 107px 0 0 0;
    color: #fff;
    position: relative; /* before 정렬의 기준 */
}
.commuity::before {
    content: ""; /* 필수값 */
    position: absolute; /* commuity를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 904px;
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
}
.commuity .news {
    padding: 118px 0 0 0;
}
.commuity .news .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative; /* more 정렬의 기준 */
}
.commuity .news .tit h2 {
    padding: 31px 0 0 0;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin: 0px 0 2px 0;
}
.commuity .news .list {
    width: 832px;
}
.commuity .news .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}
.commuity .news .list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0 21px 0;
}
.commuity .news .list ul li a h3 {
    font-size: 22px;

    /* 1줄 제한 - 조건 : 넓이가 제한되어 있어야함 */
    width: 650px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* transition: 0.5s; */
}
.commuity .news .list ul li a:hover h3 {
    /* a에 오버했을때 h3만 색두꺼워짐*/
    font-weight: 800;
}
.commuity .news .list ul li a span {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
}
.commuity .news a.more {
    display: inline-block;
    border: 1px solid #fff;
    padding: 6px 32px 9px 32px;
    border-radius: 50px;
    /* transition: 0.5s; */
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 0;
    top: 149px;
}
.commuity .news a.more:hover {
    background-color: #fff;
    color: #8D1F22;
}

.commuity .media {
    margin: 167px 0 0 0;
}
.commuity .media .wrapper {
    position: relative; /* more의 정렬기준 */
}
.commuity .media .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commuity .media .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.02em;
}
.commuity .media .list {
    margin: 43px 0 0 0;
}
.commuity .media .list ul {
    display: flex;
    justify-content: space-between;
}
.commuity .media .list ul li {
    width: 404px;
}
.commuity .media .list ul li a {
    display: block;
}
.commuity .media .list ul li a .photo {
    overflow: hidden;
    height: 227px;
    border: 2px solid #8D1F22;
    border-radius: 10px;
}
.commuity .media .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* img에는 위 세개만 줘야함 */
    transition: 0.5s;
}
.commuity .media .list ul li a:hover .photo img {
    /* a한테(글자까지) 오버했을때 이미지 커짐 */
    transform: scale3d(1.2, 1.2, 1);
}
.commuity .media .list ul li a h3 {
    font-size: 20px;
    font-weight: 800;
    color: #222;
    letter-spacing: -0.02em;
    margin: 25px 0 0 0;

    /* 2줄 제한 - 조건 넓이가 있어야함 */
    line-height: 1.4;
    height: 2.8em; /* 행간 * 줄수 = 단위는 em */
    overflow: hidden;
    /* 호환성이 낮은 일부 브라우저에서만 되는 속성 - css오류검사에서 경고처리됨 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.commuity .media a.more {
    display: inline-block;
    border: 1px solid #fff;
    padding: 6px 32px 9px 32px;
    border-radius: 50px;
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 6px;
}
.commuity .media a.more:hover {
    background-color: #fff;
    color: #8D1F22;
}

footer {
    margin: 115px 0 100px 0;
    color: #555;
}
footer .wrapper {
    border-top: 1px solid #ededed;
    padding: 44px 0 16px 0;
    display: flex;
    justify-content: space-between;
}
footer .inner .f_nav ul {
    display: flex;
    gap: 0 45px; /* 위아래-좌우 */
}
footer .inner .f_nav ul li {
    position: relative; /* after 정렬의 기준 */
}
footer .inner .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -22px;
    top: 6px;
    width: 1px;
    height: 11px;
    background-color: #ccc;
}
/* 마지막 li의 after 숨김처리 */
footer .inner .f_nav ul li:last-child::after {
    display: none;
}
footer .inner .f_nav ul li a {
    display: block;
    /* transition: 0.5s; text-decoration: underline 에는 적용안됨 */
    position: relative; /* after 정렬의 기준 */
}
footer .inner .f_nav ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #999;
    transition: 0.3s;
}
footer .inner .f_nav ul li a:hover::after {
    width: 100%;
}
footer .inner .f_info {
    margin: 13px 0 13px 0;
}
footer .inner .f_info .group {
    display: flex;
    gap: 0 23px;
}
footer .inner .copyright {
    color: #888;
}
footer .family_site button {
    width: 190px;
    line-height: 49px; /* 행간으로 높이를 주면 글자는 위아래 가운데 */
    background-color: #f4f4f4;
    color: #666;
    display: block;
    text-align: left;
    padding: 0 0 0 21px;
    position: relative; /* after 정렬의 기준 */
}
/* 화살표 그리기 */
footer .family_site button::after {
    content: "";
    position: absolute; /* button을 기준으로 정렬 */
    width: 6px;
    height: 6px;
    border-color: #666;
    border-style: solid;
    border-width: 0 0 1px 1px;
    right: 26px;
    top: 20px;
    transform: rotate(-45deg);
}