:root {
    --font-size-basic: 17px;
    --font-size-bg: 56px;
    --font-size-tit: clamp(26px, 3.5vw, 40px);
    --font-size-tit2: clamp(20px, 3vw, 24px);
    /* --font-size-tit: 40px;
    --font-size-tit2: 24px;
    --font-size-tit: 26px;
    --font-size-tit2: 20px; */
    --font-size-menu: 21px;
    --font-weight-basic: 400;
    --font-weight-bold: 700;
    --line-height-basic: 1.5;
    --line-height-tit: 1.3;
    --color-main: #1d1d1d;
    --color-bg: #07252F;
    --color-point: #005A98;
    --color-point2: #F7A71E;
    --color-font-gray: #666;
    --color-line: #ccc;
    --color-white: #fff;
    --color-white80: rgba(255, 255, 255, 0.8);
    --color-white70: rgba(255, 255, 255, 0.7);
    --color-white30: rgba(255, 255, 255, 0.3);
    --color-white20: rgba(255, 255, 255, 0.2);
    --color-white10: rgba(255, 255, 255, 0.1);
    --header-h: 90px;
    --header-var: clamp(56px, 10vw, 90px);
    --wrapper-margin-side: 30px;
    --wrapper-margin: 0 var(--wrapper-margin-side);
}
@media screen and (max-width:1024px){
    :root {
         --wrapper-margin-side:23px;
    }
}
@media screen and (max-width:768px){
    :root {
        --font-size-basic: 16px;
        --font-size-bg: 28px;
        --font-size-menu: 18px;
        --header-h: 56px;
        --wrapper-margin-side:16px;
    }
}

/* 모든페이지에서 중복되는 스타일 */
body {
    font-family: "TMoney", sans-serif;
    font-size: var(--font-size-basic);
    font-weight: var(--font-weight-basic);
    line-height: var(--line-height-basic);
    color: var(--color-main);
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 단어가 너무 길었을때 강제줄바꿈 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap {
    position: relative; /* header 정렬의 기준 */
    /* overflow: hidden; */
}
/* html문서 구조상 글자 써줘야 하는데 그 글자를 안보이게 하고 싶을때
    blind 클래스를 주면 사라짐 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/*
    !!!! 가로스크롤바 안생기게 !!!!
    좌우여백 50px : 1260 + 50 + 50 = 1360
    좌우여백 30px : 1260 + 30 + 30 = 1320
    좌우여백 5% : 1260 + (1260*0.05=63) + (1260*0.05=63) = 63
    좌우여백 3% : 1260 + (1260*0.03=37.8) + (1260*0.03=37.8) = 1336
*/

@media screen and (max-width:768px){
    .wrapper {
        margin: var(--wrapper-margin-side);
    }
}
@media screen and (max-width:1320px){
    .wrapper {
        width: auto;
        margin: var(--wrapper-margin-side);
    }
}