@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: fixed; /* fixed는 무조건 body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    fill: var(--color-white); /* svg컬러 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--wrapper-margin-side);
}
header .logo a {
    display: block;
    width: 176px;
    height: 33.89px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
    gap: 0 1px;
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
}
header .util .search .sch_open i {
    display: block;
    width: 21px;
    margin: 8px 0 0 0;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
}
header .util .mypage i {
    display: block;
    width: 21px;
    margin: 8px 0 0 0;
}

/* header가 fixed되었을때 */
header.fixed {
    background-color: var(--color-white);
    color: var(--color-main);
    fill: var(--color-main);
    border-bottom: 1px solid var(--color-line);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}

/********************** 시작 : pc버전 메뉴 ***********************/
/* 1024이하는 메뉴 접힘. 1025이상일때 스타일 */
@media screen and (min-width:1025px){
        header .gnb .gnb_open,
        header .gnb .gnb_wrap .gnb_logo,
        header .gnb .gnb_wrap .gnb_close {
            display: none;
        }
        header .gnb .gnb_wrap ul.depth1 {
            display: flex;
            align-items: center;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            font-size: var(--font-size-menu);
            font-weight: var(--font-weight-bold);
            line-height: var(--header-h);
            padding: 0 1.4286em;
            white-space: nowrap;
            /* 행간이 높아서 2줄이 되면 이상함. 그래서 무조건 1줄로 나오게함 */
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            position: relative; /* depth2 정렬의 기준 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            position: absolute; /* li를 기준으로 정렬 */
            left: 50%; /* li 넓이의 50% */
            transform: translateX(-50%); /* depth2 넓이의 50% */
            top: calc(var(--header-h) - 20px);
            background-color: var(--color-white);
            border-radius: 20px;
            border: 1px solid var(--color-point);
            color: var(--color-main);
            min-width: 100%; /* li넓이의 100% */
            padding: 20px 25px;
            display: none;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            padding: 6px 0;
            white-space: nowrap;
            text-align: center;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
            position: relative;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
            color: var(--color-point);
        }

        /* 메뉴에 오버했을때 */
        header.menu_pc {
            background-color: var(--color-white);
            color: var(--color-main);
            fill: var(--color-main);
            border-bottom: 1px solid var(--color-line);
        }
        header.menu_pc .logo a {
            background-image: url(../images/logo.svg);
        }
        header .gnb .gnb_wrap ul.depth1 > li.over > a {
            color: var(--color-point);
        }
        header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
            position: relative;
        }
        header .gnb .gnb_wrap ul.depth1 > li.over > a > span::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX();
            top: -5px;
            width: 5px;
            height: 5px;
            background-color: var(--color-point);
            border-radius: 50px;
        }
        /* header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
            display: block !important;
        } */
}
/* 1025이상에서 1280이하 사이에서만 적용 */
@media screen and (min-width:1025px) and (max-width:1280px){
        header .logo a {
            width: 157px;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            font-size: 20px;
            padding: 0 1.3em;
        }
}
/********************** 끝 : pc버전 메뉴 ***********************/
/********************** 시작 : 모바일 ***********************/
@media screen and (max-width:1024px){
            header {
                padding-right: 0;
                height: var(--header-var);
            }
            header .logo a {
                /* width: 92px;
                height: 17.52px; */
                width: clamp(110px, 15vw, 176px); /* 최소값, 평소의값, 최대값 */
            }
            header .util {
                display: none;
            }
            header .gnb .gnb_open {
                display: flex;
                justify-content: center;
                align-items: center;
                width: var(--header-var);
                height: var(--header-var);
            }
            header .gnb .gnb_open i {
                display: block;
                width: 33.93%; /* header넓이 56에서 아이콘사이즈(19px)의 % */
            }
            header .gnb .gnb_wrap {
                /* display: none; */
                position: absolute; /* header를 기준으로 정렬 */
                right: -110%;
                top: 0;
                width: 100%;
                height: 100dvh;
                background-color: var(--color-white);
                color: var(--color-main);
                fill: var(--color-main);
                transition: right 0.5s;
            }
            /* 메뉴가 열렸을때 */
            header.menu_mo .gnb .gnb_wrap {
                /* display: block; */
                right: 0;
            }
            header .gnb .gnb_wrap ul.depth1 {
                margin: var(--header-var) 0 0 0;
                height: calc(100dvh - var(--header-var)); 
                overflow-y: auto; 
                /* 주어진 높이보다 콘텐츠가 짧으면 스크롤바X
                    콘텐츠가 더 긴 경우에만 스크롤바가 생김 */
                padding: 10px 0 0 0;
                border-top: 1px solid var(--color-point);
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                font-size: 18px;
                font-weight: var(--font-weight-bold);
                line-height: var(--line-height-tit);
                padding: 17px 60px 17px var(--wrapper-margin-side);
                position: relative; /* after 정렬의 기준 */
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a {
                color: var(--color-point);
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                content: "";
                position: absolute;
                right: calc(var(--wrapper-margin-side) + 1%);
                top: 19px;
                width: 18px;
                height: 18px;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 7' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00006 4.55023L9.57506 0.975228C9.74311 0.807172 9.957 0.723144 10.2167 0.723144C10.4764 0.723145 10.6903 0.807172 10.8584 0.975228C11.0264 1.14328 11.1105 1.35717 11.1105 1.61689C11.1105 1.87662 11.0264 2.09051 10.8584 2.25856L6.64172 6.47523C6.55006 6.56689 6.45075 6.63182 6.34381 6.67002C6.23686 6.70821 6.12228 6.72731 6.00006 6.72731C5.87783 6.72731 5.76325 6.70821 5.65631 6.67002C5.54936 6.63182 5.45006 6.56689 5.35839 6.47523L1.14172 2.25856C0.973668 2.09051 0.88964 1.87662 0.88964 1.61689C0.88964 1.35717 0.973668 1.14328 1.14172 0.975227C1.30978 0.807172 1.52367 0.723144 1.78339 0.723144C2.04311 0.723144 2.257 0.807172 2.42506 0.975227L6.00006 4.55023Z'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                transition: 0.5s;
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                transform: rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 7' fill='%23005A98' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00006 4.55023L9.57506 0.975228C9.74311 0.807172 9.957 0.723144 10.2167 0.723144C10.4764 0.723145 10.6903 0.807172 10.8584 0.975228C11.0264 1.14328 11.1105 1.35717 11.1105 1.61689C11.1105 1.87662 11.0264 2.09051 10.8584 2.25856L6.64172 6.47523C6.55006 6.56689 6.45075 6.63182 6.34381 6.67002C6.23686 6.70821 6.12228 6.72731 6.00006 6.72731C5.87783 6.72731 5.76325 6.70821 5.65631 6.67002C5.54936 6.63182 5.45006 6.56689 5.35839 6.47523L1.14172 2.25856C0.973668 2.09051 0.88964 1.87662 0.88964 1.61689C0.88964 1.35717 0.973668 1.14328 1.14172 0.975227C1.30978 0.807172 1.52367 0.723144 1.78339 0.723144C2.04311 0.723144 2.257 0.807172 2.42506 0.975227L6.00006 4.55023Z'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                background-color: #f7f7f7;
                padding: 14px var(--wrapper-margin-side) 14px calc(var(--wrapper-margin-side) + 19px);
                display: none; /* 1차메뉴를 클릭할때만 나옴 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                display: block;
                padding: 9px 0;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
                color: var(--color-point);
            }
            header .gnb .gnb_wrap .gnb_logo {
                position: absolute; /* gnb_wrap기준으로 정렬 */
                left: var(--wrapper-margin-side);
                top: 0;
                width: clamp(110px, 15vw, 176px);
                height: var(--header-var);
                background: url(../images/logo.svg) no-repeat center center / contain;
            }
            header .gnb .gnb_wrap .gnb_close {
                position: absolute; /* gnb_wrap기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-var);
                height: var(--header-var);
                padding: 5px 0 0 0;
                
                display: flex; /* i태그를 가운데 */
                justify-content: center;
                align-items: center;
            }
            header .gnb .gnb_wrap .gnb_close i {
                display: block;
                width: 30%;
            }
}/* @media */

.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: var(--line-height-tit);
    color: var(--color-white);

    display: flex; /* wrapper를 하단에 배치하기 위해 */
    align-items: center;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual01.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide p {
    font-size: clamp(28px, 5vw, 56px);
    font-weight: var(--font-weight-bold);
    /* margin: 0px 0 calc(39dvh + 80px) 0; */
    transition: 0.5s;
    transition-delay: 0.3s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 35%;
    z-index: 10;
    display: flex;
    gap: 0 7px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 7px;
    color: var(--color-white);
}
.visual .ctrl_btn .paging .bar {
    width: 116px;
    height: 3px;
    background-color: var(--color-white30);
    position: relative; /* before기준의 정렬 */
}
.visual .ctrl_btn .paging .bar span {
    content: "";
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn .stop, .visual .ctrl_btn .play {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-white30);
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .play {
    display: none;
}
.visual .ctrl_btn .stop i {
    width: 10px;
    margin: 3px 0 0 0;
    fill: var(--color-white);
}
.visual .ctrl_btn .play i {
    width: 8px;
    margin: 0 0 0 2px;
}
@media screen and (max-width:1360px){
        .visual .ctrl_btn {
            left: 50px;
        }
}
@media screen and (max-width:1024px){
        .visual .ctrl_btn {
            left: 30px;
        }
}
@media screen and (max-width:768px){
        .visual .swiper-slide {
            height: 500px;
        }
        .visual .swiper-slide p {
            transform: translate(0, 20px);
        }
        .visual .ctrl_btn {
            left: 16px;
            bottom: 16dvh;
            gap: 0 5px;
        }
        .visual .ctrl_btn .paging {
            gap: 0 5px;
        }
        .visual .ctrl_btn .paging .bar {
            width: 88px;
        }
}

.find {
    background-color: var(--color-bg);
    color: var(--color-white);
    /* padding: 161px 0 104px 0; */
    padding: clamp(102px, 20vw, 161px) 0 clamp(68px, 20vw, 104px) 0;
}
.find h2 {
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    text-align: center;
}
.find .tab_list {
    margin: 31px 0 0 0;
}
.find .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 0 0.8333em;
}
.find .tab_list ul li button {
    display: block;
    padding: 0.375em 1.2083em 0.375em 1.1667em;
    border-radius: 50px;
    color: var(--color-white80);
    font-size: var(--font-size-tit2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
}
.find .tab_list ul li.active button {
    background-color: var(--color-point2);
    color: var(--color-white);
}
.find .tab_list ul li.item2.active button {
    background-color: var(--color-point);
}
.find .tab_content {
    margin: 23px 0 0 0;
}
.find .tab_content .tab_item {
    position: relative; /* prev/next 정렬의 기준 */
    display: none; /* active 클래스가 있는 요소만 보일거임 */
}
.find .tab_content .tab_item.active {
    display: block;
}
.find .tab_content .tab_item .list .swiper-slide {
    width: 269px;
}
.find .tab_content .tab_item .list .swiper-slide a {
    display: block;
}
.find .tab_content .tab_item .list .swiper-slide a .photo {
    overflow: hidden;
    height: 510px;
    border-radius: 20px;
}
.find .tab_content .tab_item .list .swiper-slide a .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 {
    display: flex;
    align-items: flex-end;
    gap: 0 11px;
    margin: 25px 0 8px 0;
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 strong {
    font-size: var(--font-size-tit2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);

    /* 1줄제한 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li {
    display: flex;
    gap: 0 17px;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li strong {
    color: var(--color-white70);
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li strong.mo_only {
    display: none;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li span {
    /* 1줄제한 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.find .tab_content .tab_item .prev {
    position: absolute;
    left: -20px;
    top: 240px;
    z-index: 10;
}
.find .tab_content .tab_item .next {
    position: absolute;
    right: -20px;
    top: 240px;
    z-index: 10;
}
.find .tab_content .tab_item .more {
    position: absolute;
    right: 0;
    top: -55px;
}
.find .tab_content .tab_item .prev,
.find .tab_content .tab_item .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-white10);
    border-radius: 50px;
    fill: var(--color-white80);
}
.find .tab_content .tab_item .prev i,
.find .tab_content .tab_item .next i {
    display: block;
    width: 16px;
    margin: 5px 0 0 0;
}
.find .tab_content .tab_item .more a {
    display: flex;
    gap: 0 7px;
    align-items: center;
    fill: var(--color-white80);
}
.find .tab_content .tab_item .more i {
    display: block;
    width: 14px;
    margin: 4px 0 0 0;
}
@media screen and (max-width:768px){
        .find h2 {
            text-align: left;
        }
        .find .tab_list {
            margin: 18px 0 0 0;
        }
        .find .tab_list ul {
            display: flex;
            justify-content: flex-start;
            gap: 0 10px;
        }
        .find .tab_list ul li button {
            display: block;
            padding: 3px 9px;
            border-radius: 10px;
        }
        .find .tab_content {
            margin: 20px 0 0 0;
        }
        .find .tab_content .tab_item .list .swiper-slide a .photo {
            height: 339px;
            border-radius: 10px;
        }
        .find .tab_content .tab_item .list .swiper-slide a .txt h4 {
            gap: 0 9px;
            margin: 11px 0 5px 0;
        }
        .find .tab_content .tab_item .list .swiper-slide a .txt ul li {
            gap: 0 13px;
        }
        .find .tab_content .tab_item .list .swiper-slide a .txt ul li strong.mo_only {
            display: block;
        }
        .find .tab_content .tab_item .list .swiper-slide a .txt ul li strong.pc_only {
            display: none;
        }
        .find .tab_content .tab_item .prev,
        .find .tab_content .tab_item .next {
            display: none;
        }
        .find .tab_content .tab_item .more {
            top: -53px;
        }
        .find .tab_content .tab_item .more a {
            gap: 0;
            justify-content: center;
            background-color: var(--color-white10);
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }
        .find .tab_content .tab_item .more span {
            display: none;
        }
}/* @media */

.slogan {
    margin: clamp(83px, 10vw, 168px) 0 clamp(52px, 10vw, 121px) 0;
    text-align: center;
}
.slogan h2 {
    font-size: clamp(27px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: 1.95;
    background-repeat: no-repeat;
}
.slogan h2 br.mo_only {
    display: none;
}
.slogan h2 strong {
    display: inline-block;
    position: relative; /* before 정렬의 기준 */
    vertical-align: middle;
}
.slogan h2 strong::before {
    content: "";
    position: absolute; /* strong 기준으로 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 좌우 가운데 위아래 가운데 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 95%;
    height: 3em;
}
.slogan h2 strong.place {
    width: 2.7667em;
}
.slogan h2 strong.place::before {
    background-image: url(../images/slogan_place.png);
    transform: translate(-50%, -58%);
}
.slogan h2 strong.aniaml {
    width: 2.7667em;
}
.slogan h2 strong.aniaml::before {
    background-image: url(../images/slogan_animal.png);
}
.slogan h2 strong.center {
    width: 3.0667em;
}
.slogan h2 strong.center::before {
    background-image: url(../images/slogan_center.png);
    transform: translate(-50%, -56%);
}
.slogan h2 strong.call {
    width: 2.4667em;;
}
.slogan h2 strong.call::before {
    background-image: url(../images/slogan_call.png);
    transform: translate(-48%, -50%); /* 좌우 가운데 위아래 가운데 */
}
.slogan p {
    margin: 20px 0 0 0;
    color: var(--color-font-gray);
}
@media screen and (max-width:768px){
        .slogan h2 {
            line-height: 1.8;
        }
        .slogan h2 br.mo_only {
            display: block;
        }
        .slogan p {
            display: none;
        }
}/* @media */

.adopt {
    overflow-x: hidden; /* rolling 가로스크롤바 삭제 */
    background-color: var(--color-bg);
    color: var(--color-white);
    fill: var(--color-white80);
    padding: clamp(102px, 10vw, 163px) 0 clamp(200px, 21vw, 278px) 0;
    position: relative; /* ctrl_btn, rolling 정렬의 기준 */
}
.adopt .tit h2 {
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    text-align: center;
}
.adopt .list {
    margin: clamp(34px, 2vw, 52px) 0 0 0;
}
.adopt .list .swiper-slide {
    width: clamp(269px, 28vw, 380px);
}
.adopt .list .swiper-slide a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: clamp(269px, 28vw, 380px);
    border-radius: 50%;
}
.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.adopt .list .swiper-slide a .cate {
    background-color: var(--color-point);
    border-radius: 20px;
    padding: 0.1765em 0.7059em 0.1176em 0.7059em;
    margin-top: -0.8824em; /* margin은 마이너스값이 가능 */
}
.adopt .list .swiper-slide a .cate.cate2 {
    background-color: var(--color-point2);
}
.adopt .list .swiper-slide a h3 {
    font-size: var(--font-size-tit2);
    font-weight: var(--font-weight-bold);
    margin: 0.6667em 0 0.25em 0;
}
.adopt .list .swiper-slide a p {
    overflow: hidden;
    line-height: 1.5;
    height: 3em; /* 행간*줄수 */
    margin: 0 10%; /* li넓이의 10% */
}
.adopt .ctrl_btn {
    position: absolute; /* adopt를 기준으로 정렬 */
    right: calc(50% - 630px);
    top: clamp(102px, 10vw, 156px); 
    display: flex;
    gap: 0 7px;
}
.adopt .ctrl_btn .prev,
.adopt .ctrl_btn .next,
.adopt .ctrl_btn .more a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 38px;
    height: 38px;
    background-color: var(--color-white10);
    border-radius: 50px;
}
.adopt .ctrl_btn .more a span {
    display: none;
}
.adopt .ctrl_btn .prev i,
.adopt .ctrl_btn .next i,
.adopt .ctrl_btn .more a i {
    display: flex;
    width: 16px;
    vertical-align: middle;
}
.adopt .rolling {
    position: absolute; /* adopt 기준으로 정렬 */
    left: 0;
    bottom: 4%;
    width: 100%;
    font-size: clamp(80px, 9vw, 130px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: var(--color-white10);
    white-space: nowrap;
}
.adopt .rolling p {
    position: absolute; /* rolling 기준으로 정렬 */
    left: 0;
    bottom: 0;
    transform: translateX(-50.36%);
    animation: adopt_roll 20s linear infinite;
    /* 애니메이션이름, 몇초동안, 가속도X, 무한반복 */
}
@keyframes adopt_roll {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50.36%);}
    
}
@media screen and (max-width:1320px){
        .adopt .ctrl_btn {
            right: var(--wrapper-margin-side);
        }
}/* @media */
@media screen and (max-width:768px){
        .adopt .list {
            margin-left: var(--wrapper-margin-side);
        }
        .adopt .ctrl_btn {
            position: static;
            justify-content: center;
        }
        .adopt .ctrl_btn .prev,
        .adopt .ctrl_btn .next {
            display: none;
        }
        .adopt .ctrl_btn .more {
            margin: 25px 0 0 0;
        }
        .adopt .ctrl_btn .more a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 5px;

            width: 91px;
            height: 32px;
        }
        .adopt .ctrl_btn .more a span {
            display: block;
        }
        .adopt .ctrl_btn .more a i {
            width: 12px;
        }
}/* @media */



footer {
    margin: 1500px 0 0 0;
}