@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: var(--line-height-tit);
    color: var(--color-white);

    display: flex; /* wrapper를 하단에 배치하기 위해 */
    align-items: center;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual01.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide p {
    font-size: var(--font-size-bg);
    font-weight: var(--font-weight-bold);
    /* margin: 0px 0 calc(39dvh + 80px) 0; */
    transition: 0.5s;
    transition-delay: 0.3s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 35%;
    z-index: 10;
    display: flex;
    gap: 0 7px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 7px;
    color: var(--color-white);
}
.visual .ctrl_btn .paging .bar {
    width: 116px;
    height: 3px;
    background-color: var(--color-white30);
    position: relative; /* before기준의 정렬 */
}
.visual .ctrl_btn .paging .bar span {
    content: "";
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn .stop, .visual .ctrl_btn .play {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-white30);
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .play {
    display: none;
}
.visual .ctrl_btn .stop i {
    width: 10px;
    margin: 3px 0 0 0;
}
.visual .ctrl_btn .play i {
    width: 8px;
    margin: 0 0 0 2px;
}
@media screen and (max-width:1360px){
        .visual .ctrl_btn {
            left: 50px;
        }
}
@media screen and (max-width:1024px){
        .visual .ctrl_btn {
            left: 30px;
        }
}
@media screen and (max-width:768px){
        .visual .swiper-slide {
            height: 400px;
        }
        .visual .swiper-slide p {
            font-size: var(--font-size-tit);
            transform: translate(0, 20px);
        }
        .visual .ctrl_btn {
            left: 16px;
            bottom: 110px;
            gap: 0 5px;
        }
        .visual .ctrl_btn .paging {
            gap: 0 5px;
        }
        .visual .ctrl_btn .paging .bar {
            width: 88px;
        }
        .visual .ctrl_btn .stop, .visual .ctrl_btn .play {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: var(--color-white30);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .visual .ctrl_btn .play {
            display: none;
        }
        .visual .ctrl_btn .stop i {
            width: 10px;
            margin: 3px 0 0 0;
        }
        .visual .ctrl_btn .play i {
            width: 8px;
            margin: 0 0 0 2px;
        }
}

footer {
    margin: 100px 0 0 0;
}