@import url(common.css);

@media screen and (max-width:768px){
    html, body {
        font-size: 12px;
    }
}

.btn1 {
    margin: 50px 0;
}
.btn1 button {
    background-color: #3B63AD;
    border: 1px solid #3B63AD;
    color: #fff;
    fill: #fff;
    display: flex;
    gap: 0 7px;
    padding: 8px 20px 6px 20px;
    border-radius: 30px;
}
.btn1 button i {
    display: block;
    width: 11.5px; /* 넓이만주면 높이는 알아서 들어감 */
}

.btn2 {
    margin: 50px 0;
}
.btn2 button { /* 글자크기 17px */
    font-size: 25px;
    background-color: #3B63AD;
    border: 1px solid #3B63AD;
    color: #fff;
    fill: #fff;
    display: flex;
    gap: 0 0.4118em;
    padding: 0.4706em 1.1765em 0.3529em 1.1765em;
    border-radius: 1.7647em;
}
.btn2 button i {
    display: block;
    width: 0.6765em; /* 넓이만주면 높이는 알아서 들어감 */
}

.btn3 {
    margin: 50px 0;
}
.btn3 button { /* 글자크기 17px */
    font-size: 1.5rem;
    background-color: #3B63AD;
    border: 1px solid #3B63AD;
    color: #fff;
    fill: #fff;
    display: flex;
    gap: 0 0.4118rem;
    padding: 0.4706rem 1.1765rem 0.3529rem 1.1765rem;
    border-radius: 1.7647rem;
}
.btn3 button i {
    display: block;
    width: 0.6765rem; /* 넓이만주면 높이는 알아서 들어감 */
}