@import url(common.css);

:root {
    --header-h: 90px;
}
@media screen and (max-width:1024px){
    :root {
        --header-h: 76px;
    }
}
@media screen and (max-width:768px){
    :root {
        --header-h: 56px;
    }
}

header {
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    padding: var(--content-margin);

    display: flex; /* logo - gnb - util 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 37px;
    height: 32px;
    background: url(../images/menu_logo2_w.svg) no-repeat center center / contain;
}

header .util {
    display: flex;
}
header .util .lang .lang_open {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 25.5C11.2917 25.5 9.67708 25.1719 8.15625 24.5156C6.63542 23.8594 5.30729 22.9635 4.17188 21.8281C3.03646 20.6927 2.14063 19.3646 1.48438 17.8438C0.828125 16.3229 0.5 14.7083 0.5 13C0.5 11.2708 0.828125 9.65104 1.48438 8.14063C2.14063 6.63021 3.03646 5.30729 4.17188 4.17188C5.30729 3.03646 6.63542 2.14063 8.15625 1.48438C9.67708 0.828125 11.2917 0.5 13 0.5C14.7292 0.5 16.349 0.828125 17.8594 1.48438C19.3698 2.14063 20.6927 3.03646 21.8281 4.17188C22.9635 5.30729 23.8594 6.63021 24.5156 8.14063C25.1719 9.65104 25.5 11.2708 25.5 13C25.5 14.7083 25.1719 16.3229 24.5156 17.8438C23.8594 19.3646 22.9635 20.6927 21.8281 21.8281C20.6927 22.9635 19.3698 23.8594 17.8594 24.5156C16.349 25.1719 14.7292 25.5 13 25.5ZM13 22.9375C13.5417 22.1875 14.0104 21.4063 14.4062 20.5938C14.8021 19.7813 15.125 18.9167 15.375 18H10.625C10.875 18.9167 11.1979 19.7813 11.5938 20.5938C11.9896 21.4063 12.4583 22.1875 13 22.9375ZM9.75 22.4375C9.375 21.75 9.04688 21.0365 8.76563 20.2969C8.48438 19.5573 8.25 18.7917 8.0625 18H4.375C4.97917 19.0417 5.73437 19.9479 6.64062 20.7188C7.54687 21.4896 8.58333 22.0625 9.75 22.4375ZM16.25 22.4375C17.4167 22.0625 18.4531 21.4896 19.3594 20.7188C20.2656 19.9479 21.0208 19.0417 21.625 18H17.9375C17.75 18.7917 17.5156 19.5573 17.2344 20.2969C16.9531 21.0365 16.625 21.75 16.25 22.4375ZM3.3125 15.5H7.5625C7.5 15.0833 7.45312 14.6719 7.42187 14.2656C7.39062 13.8594 7.375 13.4375 7.375 13C7.375 12.5625 7.39062 12.1406 7.42187 11.7344C7.45312 11.3281 7.5 10.9167 7.5625 10.5H3.3125C3.20833 10.9167 3.13021 11.3281 3.07812 11.7344C3.02604 12.1406 3 12.5625 3 13C3 13.4375 3.02604 13.8594 3.07812 14.2656C3.13021 14.6719 3.20833 15.0833 3.3125 15.5ZM10.0625 15.5H15.9375C16 15.0833 16.0469 14.6719 16.0781 14.2656C16.1094 13.8594 16.125 13.4375 16.125 13C16.125 12.5625 16.1094 12.1406 16.0781 11.7344C16.0469 11.3281 16 10.9167 15.9375 10.5H10.0625C10 10.9167 9.95312 11.3281 9.92187 11.7344C9.89062 12.1406 9.875 12.5625 9.875 13C9.875 13.4375 9.89062 13.8594 9.92187 14.2656C9.95312 14.6719 10 15.0833 10.0625 15.5ZM18.4375 15.5H22.6875C22.7917 15.0833 22.8698 14.6719 22.9219 14.2656C22.974 13.8594 23 13.4375 23 13C23 12.5625 22.974 12.1406 22.9219 11.7344C22.8698 11.3281 22.7917 10.9167 22.6875 10.5H18.4375C18.5 10.9167 18.5469 11.3281 18.5781 11.7344C18.6094 12.1406 18.625 12.5625 18.625 13C18.625 13.4375 18.6094 13.8594 18.5781 14.2656C18.5469 14.6719 18.5 15.0833 18.4375 15.5ZM17.9375 8H21.625C21.0208 6.95833 20.2656 6.05208 19.3594 5.28125C18.4531 4.51042 17.4167 3.9375 16.25 3.5625C16.625 4.25 16.9531 4.96354 17.2344 5.70312C17.5156 6.44271 17.75 7.20833 17.9375 8ZM10.625 8H15.375C15.125 7.08333 14.8021 6.21875 14.4062 5.40625C14.0104 4.59375 13.5417 3.8125 13 3.0625C12.4583 3.8125 11.9896 4.59375 11.5938 5.40625C11.1979 6.21875 10.875 7.08333 10.625 8ZM4.375 8H8.0625C8.25 7.20833 8.48438 6.44271 8.76563 5.70312C9.04688 4.96354 9.375 4.25 9.75 3.5625C8.58333 3.9375 7.54687 4.51042 6.64062 5.28125C5.73437 6.05208 4.97917 6.95833 4.375 8Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}
header .util .search .search_open {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.875 17C6.60417 17 4.68229 16.2135 3.10938 14.6406C1.53646 13.0677 0.75 11.1458 0.75 8.875C0.75 6.60417 1.53646 4.68229 3.10938 3.10938C4.68229 1.53646 6.60417 0.75 8.875 0.75C11.1458 0.75 13.0677 1.53646 14.6406 3.10938C16.2135 4.68229 17 6.60417 17 8.875C17 9.79167 16.8542 10.6563 16.5625 11.4688C16.2708 12.2813 15.875 13 15.375 13.625L22.375 20.625C22.6042 20.8542 22.7188 21.1458 22.7188 21.5C22.7188 21.8542 22.6042 22.1458 22.375 22.375C22.1458 22.6042 21.8542 22.7188 21.5 22.7188C21.1458 22.7188 20.8542 22.6042 20.625 22.375L13.625 15.375C13 15.875 12.2813 16.2708 11.4688 16.5625C10.6563 16.8542 9.79167 17 8.875 17ZM8.875 14.5C10.4375 14.5 11.7656 13.9531 12.8594 12.8594C13.9531 11.7656 14.5 10.4375 14.5 8.875C14.5 7.3125 13.9531 5.98438 12.8594 4.89063C11.7656 3.79688 10.4375 3.25 8.875 3.25C7.3125 3.25 5.98438 3.79688 4.89063 4.89063C3.79688 5.98438 3.25 7.3125 3.25 8.875C3.25 10.4375 3.79688 11.7656 4.89063 12.8594C5.98438 13.9531 7.3125 14.5 8.875 14.5Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    display: block
}

@media screen and (min-width:1025px){ /* 1025px이상일때 (pc버전) */
        header .gnb .gnb_bg {
            display: none !important;
        }
        header .gnb .gnb_open, header .gnb .gnb_close {
            display: none;
        }
        header .gnb .gnb_wrap ul.depth1 {
            display: flex; /* li좌우배치 */
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            position: relative; /* 2차메뉴 depth2 정렬의 기준 */
            z-index: 10;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            font-size: 20px;
            font-weight: 700;
            line-height: var(--header-h);
            padding: 0 30px;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            /* 2차메뉴는 absolute로 처리 ! */
            position: absolute; /* 1차메뉴 li를 기준으로 정렬 */
            left: 0;
            top: var(--header-h);
            width: 100%;
            min-height: 170px; /* 모든 2차메뉴 길이를 동일하게 주기위해 */
            color: #555;
            text-align: center;
            padding: 16px 0 0 0;
            display: none !important; /* 메뉴가 열렸을때만 나타남 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            padding: 4px 0;
        }

        /* 메뉴에 마우스 오버했을때 (menu_over추가) */
        header.menu_over {
            color: #1d1d1d;
        }
        header.menu_over::before {
            content: "";
            position: absolute; /* header기준으로 정렬 */
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 281px;
            background-color: #fff;
        }
        header.menu_over::after {
            content: "";
            position: absolute; /* header기준으로 정렬 */
            left: 0;
            top: var(--header-h);
            width: 100%;
            height: 1px;
            background: #f4f4f4;
        }
        header.menu_over .logo a {
            background-image: url(../images/menu_logo2.svg);
        }
        header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: block !important;
            /* 선택자 우선순위가 낮아서 적용되지 않을때
                무조건 먼저 적용하게 하는 명령 속성두디에 !important를 추가 
                (남용XXXXXX 신중!!!!!!!!!!!!) */
        }
        header.menu_over .util .lang .lang_open {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 25.5C11.2917 25.5 9.67708 25.1719 8.15625 24.5156C6.63542 23.8594 5.30729 22.9635 4.17188 21.8281C3.03646 20.6927 2.14063 19.3646 1.48438 17.8438C0.828125 16.3229 0.5 14.7083 0.5 13C0.5 11.2708 0.828125 9.65104 1.48438 8.14063C2.14063 6.63021 3.03646 5.30729 4.17188 4.17188C5.30729 3.03646 6.63542 2.14063 8.15625 1.48438C9.67708 0.828125 11.2917 0.5 13 0.5C14.7292 0.5 16.349 0.828125 17.8594 1.48438C19.3698 2.14063 20.6927 3.03646 21.8281 4.17188C22.9635 5.30729 23.8594 6.63021 24.5156 8.14063C25.1719 9.65104 25.5 11.2708 25.5 13C25.5 14.7083 25.1719 16.3229 24.5156 17.8438C23.8594 19.3646 22.9635 20.6927 21.8281 21.8281C20.6927 22.9635 19.3698 23.8594 17.8594 24.5156C16.349 25.1719 14.7292 25.5 13 25.5ZM13 22.9375C13.5417 22.1875 14.0104 21.4063 14.4062 20.5938C14.8021 19.7813 15.125 18.9167 15.375 18H10.625C10.875 18.9167 11.1979 19.7813 11.5938 20.5938C11.9896 21.4063 12.4583 22.1875 13 22.9375ZM9.75 22.4375C9.375 21.75 9.04688 21.0365 8.76563 20.2969C8.48438 19.5573 8.25 18.7917 8.0625 18H4.375C4.97917 19.0417 5.73437 19.9479 6.64062 20.7188C7.54687 21.4896 8.58333 22.0625 9.75 22.4375ZM16.25 22.4375C17.4167 22.0625 18.4531 21.4896 19.3594 20.7188C20.2656 19.9479 21.0208 19.0417 21.625 18H17.9375C17.75 18.7917 17.5156 19.5573 17.2344 20.2969C16.9531 21.0365 16.625 21.75 16.25 22.4375ZM3.3125 15.5H7.5625C7.5 15.0833 7.45312 14.6719 7.42187 14.2656C7.39062 13.8594 7.375 13.4375 7.375 13C7.375 12.5625 7.39062 12.1406 7.42187 11.7344C7.45312 11.3281 7.5 10.9167 7.5625 10.5H3.3125C3.20833 10.9167 3.13021 11.3281 3.07812 11.7344C3.02604 12.1406 3 12.5625 3 13C3 13.4375 3.02604 13.8594 3.07812 14.2656C3.13021 14.6719 3.20833 15.0833 3.3125 15.5ZM10.0625 15.5H15.9375C16 15.0833 16.0469 14.6719 16.0781 14.2656C16.1094 13.8594 16.125 13.4375 16.125 13C16.125 12.5625 16.1094 12.1406 16.0781 11.7344C16.0469 11.3281 16 10.9167 15.9375 10.5H10.0625C10 10.9167 9.95312 11.3281 9.92187 11.7344C9.89062 12.1406 9.875 12.5625 9.875 13C9.875 13.4375 9.89062 13.8594 9.92187 14.2656C9.95312 14.6719 10 15.0833 10.0625 15.5ZM18.4375 15.5H22.6875C22.7917 15.0833 22.8698 14.6719 22.9219 14.2656C22.974 13.8594 23 13.4375 23 13C23 12.5625 22.974 12.1406 22.9219 11.7344C22.8698 11.3281 22.7917 10.9167 22.6875 10.5H18.4375C18.5 10.9167 18.5469 11.3281 18.5781 11.7344C18.6094 12.1406 18.625 12.5625 18.625 13C18.625 13.4375 18.6094 13.8594 18.5781 14.2656C18.5469 14.6719 18.5 15.0833 18.4375 15.5ZM17.9375 8H21.625C21.0208 6.95833 20.2656 6.05208 19.3594 5.28125C18.4531 4.51042 17.4167 3.9375 16.25 3.5625C16.625 4.25 16.9531 4.96354 17.2344 5.70312C17.5156 6.44271 17.75 7.20833 17.9375 8ZM10.625 8H15.375C15.125 7.08333 14.8021 6.21875 14.4062 5.40625C14.0104 4.59375 13.5417 3.8125 13 3.0625C12.4583 3.8125 11.9896 4.59375 11.5938 5.40625C11.1979 6.21875 10.875 7.08333 10.625 8ZM4.375 8H8.0625C8.25 7.20833 8.48438 6.44271 8.76563 5.70312C9.04688 4.96354 9.375 4.25 9.75 3.5625C8.58333 3.9375 7.54687 4.51042 6.64062 5.28125C5.73437 6.05208 4.97917 6.95833 4.375 8Z' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
        }
        header.menu_over .util .search .search_open {
            background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.875 17C6.60417 17 4.68229 16.2135 3.10938 14.6406C1.53646 13.0677 0.75 11.1458 0.75 8.875C0.75 6.60417 1.53646 4.68229 3.10938 3.10938C4.68229 1.53646 6.60417 0.75 8.875 0.75C11.1458 0.75 13.0677 1.53646 14.6406 3.10938C16.2135 4.68229 17 6.60417 17 8.875C17 9.79167 16.8542 10.6563 16.5625 11.4688C16.2708 12.2813 15.875 13 15.375 13.625L22.375 20.625C22.6042 20.8542 22.7188 21.1458 22.7188 21.5C22.7188 21.8542 22.6042 22.1458 22.375 22.375C22.1458 22.6042 21.8542 22.7188 21.5 22.7188C21.1458 22.7188 20.8542 22.6042 20.625 22.375L13.625 15.375C13 15.875 12.2813 16.2708 11.4688 16.5625C10.6563 16.8542 9.79167 17 8.875 17ZM8.875 14.5C10.4375 14.5 11.7656 13.9531 12.8594 12.8594C13.9531 11.7656 14.5 10.4375 14.5 8.875C14.5 7.3125 13.9531 5.98438 12.8594 4.89063C11.7656 3.79688 10.4375 3.25 8.875 3.25C7.3125 3.25 5.98438 3.79688 4.89063 4.89063C3.79688 5.98438 3.25 7.3125 3.25 8.875C3.25 10.4375 3.79688 11.7656 4.89063 12.8594C5.98438 13.9531 7.3125 14.5 8.875 14.5Z' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
        }

        /* 1차메뉴 li에 over가 들어갔을때 */
        header .gnb .gnb_wrap ul.depth1 > li.over > a span {
            color: #1D7CBF;
            position: relative; /* before 정렬의 기준 */
        }
        header .gnb .gnb_wrap ul.depth1 > li.over > a span::before {
            content: "";
            position: absolute; /* span을 기준으로 정렬 */
            left: -7px;
            top: -2px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #1D7CBF;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span {
            position: relative;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 1px;
            background-color: #1D7CBF;
            transition: 0.5s;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
            color: #1D7CBF;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover span::after,
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus span::after {
            width: 100%;
        }   
}/* @media - pc메뉴 */
@media screen and (max-width:1024px){
            header {
                padding-right: 0;
            }
            header .logo a {
                width: 32px;
                height: 27px;
            }
            header .gnb .gnb_open {
                width: var(--header-h);
                height: var(--header-h);
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958333 1.52083 0 1.28333 0 1C0 0.716667 0.0958333 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1ZM1 14C0.716667 14 0.479167 13.9042 0.2875 13.7125C0.0958333 13.5208 0 13.2833 0 13C0 12.7167 0.0958333 12.4792 0.2875 12.2875C0.479167 12.0958 0.716667 12 1 12H17C17.2833 12 17.5208 12.0958 17.7125 12.2875C17.9042 12.4792 18 12.7167 18 13C18 13.2833 17.9042 13.5208 17.7125 13.7125C17.5208 13.9042 17.2833 14 17 14H1ZM1 8C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H17C17.2833 6 17.5208 6.09583 17.7125 6.2875C17.9042 6.47917 18 6.71667 18 7C18 7.28333 17.9042 7.52083 17.7125 7.7125C17.5208 7.90417 17.2833 8 17 8H1Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 25px;
                display: block;
            }
            header .gnb .gnb_wrap {
                /* display: none; 메뉴가 열려야 보임 */
                position: absolute; /* header를 기준으로 정렬 */
                right: -110%;
                top: 0;
                z-index: 10;
                width: 100%;
                max-width: 320px;
                height: 100dvh;
                background-color: #fff;
                color: #1d1d1d;
                /* box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.4); */
                transition: 0.4s;
            }
            header .gnb .gnb_wrap ul.depth1 {
                overflow-y: auto; /* 콘텐츠 높이가 입력한 높이보다 커지면 스크롤바를 생성 */
                margin: var(--header-h) 0 0 0;
                padding: 16px 0 0 0;
                height: calc(100dvh - var(--header-h));
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                padding: 12px 76px 12px 16px;
                font-size: 18px;
                font-weight: 700;
                position: relative; /* after 정렬의 기준*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                content: "";
                position: absolute; /* a 정렬의 기준*/
                right: 28px;
                top: 14px;
                width: 18px;
                height: 18px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99972 6.3375L13.5122 0.824998C13.6997 0.637498 13.9185 0.546873 14.1685 0.553123C14.4185 0.559373 14.6372 0.656247 14.8247 0.843747C15.0122 1.03125 15.106 1.25 15.106 1.5C15.106 1.75 15.0122 1.96875 14.8247 2.15625L9.06847 7.93125C8.91847 8.08125 8.74972 8.19375 8.56222 8.26875C8.37472 8.34375 8.18722 8.38125 7.99972 8.38125C7.81222 8.38125 7.62472 8.34375 7.43722 8.26875C7.24972 8.19375 7.08097 8.08125 6.93097 7.93125L1.15597 2.15625C0.968466 1.96875 0.877841 1.74687 0.884091 1.49062C0.890341 1.23437 0.987216 1.0125 1.17472 0.824999C1.36222 0.637499 1.58097 0.543749 1.83097 0.543749C2.08097 0.543749 2.29972 0.637499 2.48722 0.824999L7.99972 6.3375Z' fill='%23666666'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px;
                transition: 0.3s;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                background-color: #f4f4f4;
                padding: 16px 33px;
                display: none; /* 1차메뉴를 클릭하면 열림 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                display: block;
                padding: 4px 0;
            }
            header .gnb .gnb_close {
                display: none; /* 메뉴가 열려야 보임 */
                position: absolute; /* header기준으로 정렬 */
                right: 0;
                top: 0;
                z-index: 11;
                width: var(--header-h);
                height: var(--header-h);
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.9998 8.4L2.0998 13.3C1.91647 13.4833 1.68314 13.575 1.3998 13.575C1.11647 13.575 0.883138 13.4833 0.699805 13.3C0.516471 13.1167 0.424805 12.8833 0.424805 12.6C0.424805 12.3167 0.516471 12.0833 0.699805 11.9L5.5998 7L0.699805 2.1C0.516471 1.91667 0.424805 1.68333 0.424805 1.4C0.424805 1.11667 0.516471 0.883333 0.699805 0.699999C0.883138 0.516666 1.11647 0.424999 1.3998 0.424999C1.68314 0.424999 1.91647 0.516666 2.0998 0.699999L6.9998 5.6L11.8998 0.699999C12.0831 0.516666 12.3165 0.424999 12.5998 0.424999C12.8831 0.424999 13.1165 0.516666 13.2998 0.699999C13.4831 0.883333 13.5748 1.11667 13.5748 1.4C13.5748 1.68333 13.4831 1.91667 13.2998 2.1L8.3998 7L13.2998 11.9C13.4831 12.0833 13.5748 12.3167 13.5748 12.6C13.5748 12.8833 13.4831 13.1167 13.2998 13.3C13.1165 13.4833 12.8831 13.575 12.5998 13.575C12.3165 13.575 12.0831 13.4833 11.8998 13.3L6.9998 8.4Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 24px;
            }
            header .gnb .gnb_bg {
                position: absolute; /* header 기준으로 정렬 */
                left: 0;
                top: 0;
                width: 100%;
                height: 100dvh;
                background-color: #000;
                opacity: 0.5;
                display: none;
            }
            header .util {
                position: absolute; /* header기준으로 정렬 */
                right: var(--header-h);
                top: 0;
            }
            header .util .lang {
                display: none;
            }
            header .util .search .search_open {
                width: 28px;
                height: var(--header-h);
                background-size: 23px;
            }

            /* 메뉴가 열렸을때 header에 menu_open */
            /* header.menu_open .logo {
                z-index: 10; 
            }
            header.menu_open .logo a {
                background-image: url(../images/menu_logo2.svg);
            } */
            header.menu_open .gnb .gnb_wrap {
                display: block;
                right: 0;
            }
            header.menu_open .gnb .gnb_close{
                display: block;
                background-size: 23px;
            }
            /* header.menu_open .util {
                z-index: 10;
            }
            header.menu_open .util .search .search_open {
                background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.875 17C6.60417 17 4.68229 16.2135 3.10938 14.6406C1.53646 13.0677 0.75 11.1458 0.75 8.875C0.75 6.60417 1.53646 4.68229 3.10938 3.10938C4.68229 1.53646 6.60417 0.75 8.875 0.75C11.1458 0.75 13.0677 1.53646 14.6406 3.10938C16.2135 4.68229 17 6.60417 17 8.875C17 9.79167 16.8542 10.6563 16.5625 11.4688C16.2708 12.2813 15.875 13 15.375 13.625L22.375 20.625C22.6042 20.8542 22.7188 21.1458 22.7188 21.5C22.7188 21.8542 22.6042 22.1458 22.375 22.375C22.1458 22.6042 21.8542 22.7188 21.5 22.7188C21.1458 22.7188 20.8542 22.6042 20.625 22.375L13.625 15.375C13 15.875 12.2813 16.2708 11.4688 16.5625C10.6563 16.8542 9.79167 17 8.875 17ZM8.875 14.5C10.4375 14.5 11.7656 13.9531 12.8594 12.8594C13.9531 11.7656 14.5 10.4375 14.5 8.875C14.5 7.3125 13.9531 5.98438 12.8594 4.89063C11.7656 3.79688 10.4375 3.25 8.875 3.25C7.3125 3.25 5.98438 3.79688 4.89063 4.89063C3.79688 5.98438 3.25 7.3125 3.25 8.875C3.25 10.4375 3.79688 11.7656 4.89063 12.8594C5.98438 13.9531 7.3125 14.5 8.875 14.5Z' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
                background-size: 23px;
            } */

            /* 2차메뉴 열기 */
            header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
                /* display: block; */
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                transform: rotate(180deg);
            }

}/* @media - 모바일 */

@media screen and (max-width:768px){
        header .logo a {
            width: 28px;
            height: 23px;
        }
        header .gnb .gnb_open {
            background-size: 20px;
        }
        header.menu_open .gnb .gnb_open {
            background-size: 17px;
        }
        header .util .search .search_open {
            background-size: 19px;
        }
        header.menu_open .util .search .search_open {
            background-size: 19px;
        }
        header.menu_open .gnb .gnb_close {
            background-size: 17px;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a::after {
            right: 17px;
        }
}/* @media */


.visual {
    height: 100dvh;
    background: url(../images/menu_visual2.jpg) no-repeat center center/ cover;
}