@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    height: 90px;
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
header .logo a {
    display: block;
    width: 152px;
    height: 58px;
    background: url(../images/logo.svg) no-repeat center center /contain;
    /* contain = 이미지 잘리지 않고 모두 나오게 함, 로고나 아이콘쓸때 */
}
header .gnb .gnb_open, header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴 */
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    line-height: 90px;
    font-size: 20px;
    padding: 0 29px 0 29px;
}
header .util {
    display: flex;
    gap: 0 2px;
}
header .util .mypage, header .util .lang .lang_open {
    /* 아이콘만큼만 눌리는게 아니라 임의로 사이즈줘야함 */
    width: 47px;
    height: 47px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url(../images/util_mypage.svg);
}
header .util .lang .lang_open {
    background-image: url(../images/util_lang.svg);
}
@media screen and (max-width:768px){
        header {
            height: 56px;
            padding: 0 0 0 16px;
        }
        header .logo a {
            width: 75px;
            height: 28px;
        }
        header .gnb .gnb_open {
            display: block; /* 모바일에서만 나옴 */
            width: 56px;
            height: 56px;
            background: url(../images/gnb_open.svg) no-repeat center center;
        }
            header .gnb .gnb_wrap {
            display: none; /* 모바일에서 숨김 */
        }
        header .util {
            display: none; /* 모바일에서 숨김 */
        }
}/* @media */

.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 110px 0 8px 0;
}
.visual .btn_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px); /* 630은 1260(wrapper)의 절반 */
    top: calc(50% + 175px);
    z-index: 1;
    display: flex;
    gap: 0 10px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_arrow.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
    display: none; /* stop버튼 눌려야만 보임 */
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_arrow.svg);
    transform: rotate(180deg);
}
@media screen and (max-width:768px){
        .visual .swiper-slide {
            align-items: flex-end; /* ????? */
        }
        .visual .swiper-slide h3 {
            font-size: 38px;
            margin: 0 0 6px 0;
        }
        .visual .swiper-slide h3 br {
            display: none;
        }
        .visual .swiper-slide p {
            margin: 0 0 130px 0;
        }
        .visual .btn_wrap {
            left: 50%; /* 정렬의 기준 visual 넓이의 50% */
            transform: translateX(-50%); /* 나자신 btn_wrap 넓이의 절반을 왼쪽으로 이동 */
            /* pc버전에서 top을 줬다가 모바일에서 bottom으로 변경하려면 top에 auto줘야함 */
            top: auto;
            bottom: 20px;
        }
        .visual .btn_wrap button {
            width: 27px;
            height: 27px;
        }
}/* @media */

.biz {
    margin: 185px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 안들어가면 sticky안먹음 */
}
.biz .tit {
    position: sticky;
    top: 50px;
}
.biz .list {
    width: 664px;
    padding: 0 0 167px 0;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 24px 24px;
}
.biz .list ul li {
    width: calc(50% - 12px);
    /*
        100 / 한줄에 나오는 li의 갯수 = 100/2 = 50%
        한줄의 여백의 합 / 한줄에 나오는 li갯수 =  24/2 = 12px
    */
    position: relative; /* txt 정렬의 기준 */
}
.biz .list ul li:nth-child(odd) {
    transform: translateY(167px);
}
.biz .list ul li a {
    display: block;
}

.biz .list ul li a .photo {
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #013D73;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 50px;
    width: calc(100% - 100px);
    bottom: -40px;
    color: #fff;
    transition: 0.5s;
}
.biz .list ul li a .txt h3 {
    font-size: 32px;
}
.biz .list ul li a .txt p {
    opacity: 0;
    margin: 8px 0 0 0;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
    word-break: normal;
}
@media screen and (min-width:769px){ /* 769(포함)이상에 적용 */
        .biz .list ul li a:hover::before {
            content: "";
            position: absolute;
            right: 50px;
            top: 50px;
            width: 24px;
            height: 24px;
            z-index: 1;
            background-image: url(../images/biz_arr_pc.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
        .biz .list ul li a:hover .photo::before {
            opacity: 0.9;
        }
        .biz .list ul li a:hover .txt {
            bottom: 50px;
        }
        .biz .list ul li a:hover .txt p {
            opacity: 1;
        }
}/* @media */
@media screen and (max-width:768px){ /* 768(포함)이하에 적용 */
        .biz {
            margin: 98px 0 0 0;
        }
        .biz .wrapper {
            display: block; /* flex > block으로 변경 */
        }
        .biz .tit {
            position: relative;
            top: auto; /* top을 선언하지 않은 것 처럼 해지시키는거임, 0주는거랑 다름 */
        }
        .biz .list {
            width: auto; /* 원래 들어가야 할 값이 들어가게 수정 */
            padding: 0;
            margin: 35px 0 0 0;
        }
        .biz .list ul {
            flex-wrap: nowrap; /* 한줄 */
            flex-direction: column; /* 세로 */
            gap: 0;
        }
        .biz .list ul li {
            width: auto; /* ??? */
            border-top: 1px solid #F5F6FA;
            padding: 20px 0 20px 0;
        }
        .biz .list ul li:last-child {
            border-bottom: 1px solid #F5F6FA;
        }
        .biz .list ul li:nth-child(odd) {
            transform: translateY(0);
        }
        .biz .list ul li a {
            position: relative;
        }
        .biz .list ul li a::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 25px;
            height: 25px;
            background-color: #013D73;
            border-radius: 50%;
            background-image: url(../images/biz_arr.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
        .biz .list ul li a .photo {
            display: none;
        }
        .biz .list ul li a .txt {
            position: relative; /* abslute > relative */
            left: auto;
            width: auto;
            bottom: auto;
            color: #1d1d1d;
        }
        .biz .list ul li a .txt h3 {
            font-size: 22px;
            font-weight: 500;
        }
        .biz .list ul li a .txt h3 br {
            display: none;
        }
        .biz .list ul li a .txt p {
            display: none;
        }
}/* @media */

.notice {
    margin: 105px 0 0 0;
    background-color: #F5F6FA;
    padding: 152px 0 123px 0;
}
.notice .wrapper {
    position: relative; /* more정렬의 기준 */
}
.notice .list {
    margin: 42px 0 0 0;
}
.notice .list ul li {
    margin: 0 0 12px 0;
}
.notice .list ul li:last-child {
    margin-bottom: 0; /* 하단 여백만 0처리 */
}
.notice .list ul li a {
    display: flex; /* inner, span 좌우배치 */
    justify-content: space-between;
    padding: 19px 54px 17px 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.04);
}
.notice .list ul li a:hover {
    background-color: #0373DC;
    color: #fff;
}
.notice .list ul li a .inner {
    display: flex; /* strong, h3 좌우배치 */
    align-items: center;
    gap: 0 18px;
    font-size: 17px;
    width: calc(100% - 150px); /* 오른쪽 날짜 들어갈 공간 빼고 나머지 전부 */
}
.notice .list ul li a .inner strong {
    display: block;
    padding: 3px 11px 1px 10px;
    color: #fff;
    background-color: #0373DC;
    border-radius: 5px;
}
.notice .list ul li a:hover .inner strong {
    color: #0373DC;
    background-color: #fff;
}
.notice .list ul li a .inner h3 {
    font-weight: 500;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice .list ul li a span {
    color: #555;
}
.notice .list ul li a:hover span {
    color: rgba(255, 255, 255, 0.8);
}
.notice .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 54px;
}
.notice .more a {
    display: block;
    padding: 0 30px 0 0;
}
.notice .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 7px;
    top: 8px;
    width: 16px;
    height: 16px;
    background: url(../images/notice_more.svg) no-repeat center center;
    transition: 1s;
}
.notice .more a:hover::after {
    right: -20px; /*화살표 한번 쭉 갔다가 오버풀면 돌아옴*/
    /* animation: more 1s linear infinite; 왔다갔다 계속! 아래 keyframes해줘야함 */ 
}
/* @keyframes more {
    0% { transform: translateX(0); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }
} */
@media screen and (max-width:768px){
        .notice {
            margin: 64px 0 0 0;
            padding: 88px 0 71px 0;
        }
        .notice .tit {
            width: calc(100% - 50px); /* 오른쪽에 more들어갈 자리 남기기 */
        }
        .notice .list {
            margin: 29px 0 0 0;
        }
        .notice .list ul li {
            margin: 0 0 8px 0;
        }
        .notice .list ul li:last-child {
            display: none;
        }
        .notice .list ul li:nth-last-child(2) {
            display: none;
        }
        .notice .list ul li a {
            display: block; /* flex해제 */
            padding: 20px 20px 20px 20px;
        }
        .notice .list ul li a .inner {
            display: block; 
            gap: 0 18px;
            font-size: 17px;
            width: auto; /* padding준값 빼고 꽉차게 */
        }
        .notice .list ul li a .inner strong {
            display: none;
        }
        .notice .list ul li a .inner h3 {
            margin: 0 0 3px 0;
            /* 1줄제한 해지 */
            white-space: wrap;
            overflow: visible;
        }
        .notice .more {
            top: 40px;
        }
        .notice .more a {
            padding: 0;
            width: 20px;
            height: 20px;
        }
        /* pc버전에 쓴 아이콘 그대로 쓰는경우 */
        .notice .more a::after {
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .notice .more a span {
            display: none;
        }
} /* @media */


footer {
    margin: 1500px 0 0 0;
}