/************************** 
* 파일명 : layout.css
* 작성자 : 윤지원
* 작성일 : 25-10-23
* 설  명 : header/footer 스타일을 선언
**************************/

.visual {
    height: 100dvh;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: var(--color-w);
}
.visual .txt {
    padding-top: 35%;
}
.visual .txt h2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 7px;
}